//color
$bgColor: #efefef;
$bgBlueColor: #1e89e0;

$textColor: #000000;
$lightTextColor: #333333;
$lighterTextColor: #888888;

$fontColorShallow: #9e9e9e;
$fontColorDark: #626262;
$fontColorBoldDarker: #474747;

//font
$bigTitleSize: 28px;
$titleSize: 20px;
$normalTextSize: 14px;
