@import "../variables.scss";
.page-header{
  background-color: $bgBlueColor;
  padding: 0 15px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.web-title{
  font-size: $bigTitleSize;
  font-style: italic;
  color: white;
  padding: 10px 0;
  cursor: pointer;
}
